__pycache__
.env
.history
.hypothesis/
build/
reports/
*.gif
**/metadata/kovan/**/*
./tokens_to_upload/*
**/metadata/rinkeby/**/*
metadata/mumbai_moralis/**/*


metadata/rinkeby/archived_tokens.json
metadata/kovan/archived_tokens.json
metadata/mumbai_moralis/archived_tokens.json
tokens_to_upload/rinkeby/*
tokens_to_upload/kovan/*
tokens_to_upload/mumbai_moralis